.h1 {
    margin-top: 5px;
    text-align: center;
    color: brown;
}

.btn {
    margin-top: 5px;
    /* margin-left: 50%; */
    padding: 5px 20px;
    background-color: yellow;
}

/* .menu-items {
    box-shadow: 10px 5px 10px 5px black;
    width: 50vh;
    height: 70%;
} */

.img-fluid {
    height: 320px;
}

.img-div {
    height: 220px;
    width: 220px;
}

.main-title h1 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.price-book-divide h2 {
    font-size: 20px;
    font-weight: 400;
    color: #4db6ac;
}

.price-book-divide {
    margin-bottom: 10px;
}

.item1 {
    box-shadow: 2px 2px 2px 2px grey;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.Item-inside {
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
}